 @font-face {
   font-family: 'MyFont';
   src:  url('./Roboto-Light.ttf') format('woff');
   font-weight: 600;
   font-style: normal;
 }


.hello {
  color: red;
  /* background: url('./icon.png') no-repeat; */
  font-family: 'MyFont';
  width: 200px;
  height: 200px;
}
